.Name{
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Leckerli One', cursive;
  color: #58f5c1;
  -webkit-text-stroke: 1px #cc486e;
  text-shadow: 3px 3px 5px #009688;
}

.Name > p:nth-child(1){
  font-size: 3rem;
}
.Name > p:nth-child(2){
  font-size: 4rem;
}

