.stats{
	font-size: 1.5rem;
	width: 100%;
	padding: 0.3rem;
	background-color:	lightgray;
	border: 1px solid lightgray;
	border-bottom-right-radius:  1rem;
	border-bottom-left-radius:  1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 4px 4px rgba(255, 255,255, 0.56);
}

@keyframes countdown {
	from{
		width: 100%;
	}
	to{
		width: 0%;
	}

}

.duration{
	width: 50%;
	height: 1rem;
	border-radius: 1rem;
	overflow: hidden;
}
.duration > div{
	height: 100%;
	width: 0%;
	background-color: #f464ea;
}
.duration > div.animate{
	animation-name: countdown;
	animation-duration: 5s;
	animation-timing-function: linear;
}
.duration > div.animate.paused{
	animation-play-state: paused;
}